.images
{
	color:white;
	z-index:-10;

	margin: 1vw;
	height: 100%;

	display: grid;

	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 1vw;
	grid-row-gap: 1vw;

}

figure
{
	justify-self: stretch;
	height:13vw;

	position: relative;

	overflow: hidden;

	margin: 0;
}

.images img
{
	transform: scale(1.2);
	transition: transform 0.5s;

	display: block;
	height: 100%;
	width: 100%;

	object-fit: cover;
}

figcaption
{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;

	background: rgba(0, 0, 0, 0.25);

	opacity: 0;
	transition: opacity 0.5s;
}

figcaption *
{
   display: block;
}

figcaption .title
{
   margin: 15px 0 0 15px;
   font-size: 25px;
   font-weight: 500;
}

figcaption .author
{
   margin: 10px 0 0 15px;
   font-size: 20px;
}

figure:hover figcaption
{
	opacity: 1;
}

figure:hover img
{
	transform: scale(1);
}
a.image
{
	width: 100%;
	height: 100%;
	color:inherit;
	text-decoration: none;
	display: block;
}

@media only screen and (max-width: 1350px) 
{
	.images 
	{
		grid-template-columns: repeat(2, 1fr);
	}
	.images figure
	{
		height: 26vw;
	}
}

@media only screen and (max-width: 650px) 
{
	.images 
	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.images figure
	{
		margin: 10px 0;
		width: 100vw;
		height: 50vw;
	}
}