body
{
	margin:0;
	padding:0;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size:20px;

	min-height: 100vh;

	--bg: fefefe;
	--text: #333;
	--nav: #fff;
	--header: #fff;
	--border: #333;
	--fg: transparent;
	--text2: #282828;

	background:var(--bg);
	color:var(--text);

	transition: background 0.3s, color, 0.3s;
}
.preload, .preload * 
{
	transition: none !important;
}
.dark
{
	--fg: rgba(0, 0, 0, 0.25);
	--border: transparent;
	--nav: #282828;
	--header: #323232;
	--text: #fff;
	--bg: #1c1c1c;
	--text2: #fff;
}

header
{
	position: relative;

	height:10vh;
	background: var(--header);
	line-height:10vh;
	font-size:25px;
	padding-left:50px;

	transition: background 0.3s, color, 0.3s;
}

header > img
{
	position: absolute; 
	
	/* LOGO 1*/
	/*
		top:50%;
		left: calc(2vw + 10px);
		display: block;
		height: 9vh;

		transform: translateY(-50%);
	*/
	/* LOGO 2 */
	top:0;
	left:0;
	height:10vh;
}

header div:first-of-type
{
	position: absolute;
	top: 50%;
	left: calc(10% + 125px);
	transform: translateY(-50%);
}

#theme
{
	position: absolute;
	right: 20px;
	top: 0;
}
nav
{
	z-index: 1000;

	position:sticky;
	top:0;
	left:0;
	height:6vh;
	background:var(--nav);
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	border-bottom: 1px solid var(--border);
}
nav > *
{
	background: var(--nav);
	display: block;
	height:6vh;
	line-height:6vh;
	color:var(--text);
	text-decoration:none;
	width:20vw;
	text-align:center;
	transition:background 0.3s;
}

nav > *:hover
{
	background:var(--header);
}

main
{
	min-height:22vw;
}

footer
{
	margin-top:20px;

	background-color:var(--nav);
	
	width: 100%;
	height: calc(12vw + 100px);

	transition: background 0.3s, color, 0.3s;
}

footer > div
{
	width: 55%;
	height: 88%;

	margin: 0 auto;

	display: flex;

	justify-content: space-between;
	align-items: center;
}

footer .tile
{
	color:white;
	text-align: center;

	font-size: 8vw;
	line-height: calc(8vw + 60px);

	display: block;
	text-decoration: none;

	width: 32%;
	height: 80%;

	transition: background-color 0.3s;
}

footer .tile:nth-child(1)
{
	background-color: #c4302b;
}
footer .tile:nth-child(1):hover
{
	background-color: #d4403b;
}

footer .tile:nth-child(2)
{
	background-color: #3b5998;
}
footer .tile:nth-child(2):hover
{
	background-color: #4b69a8;
}

footer .tile:nth-child(3)
{
	background-color: #00acee;
}
footer .tile:nth-child(3):hover
{
	background-color: #10bcfe;
}

footer span
{
	display: block;
	text-align: center;
	font-size: 22px;
}

/* Phones */
@media only screen and (max-width: 650px)
{
	header
	{
		font-size:16px;
	}

	nav
	{
		height: 25vh;
		flex-direction: column;

		position: static;
	}

	nav > *
	{
		box-sizing: border-box;
		text-align: left;
		padding-left: 35vw;
		height: 5vh;
		width: 100%;
	}

	footer > div
	{
		width: 100%;
	}
	footer span
	{
		font-size: 15px;
	}
}
.container
{
	background: var(--fg);
	color:var(--text2);
}