main
{
   min-height: 150vh;
   position: relative;
}
.container
{
   padding: 2vmax 1vmax;
   background-color: rgba(0,0,0, 0.25);
   width:70vw;
   position:absolute;
   top: 25px;
   left:50%;
   transform: translateX(-50%);
}

img
{
   display: block;
   margin: 0 auto;
   width:60vw;
}

h3, h4
{
   box-sizing: border-box;
   padding-left: 7.5%;
   font-weight: 400;
}
h3
{
   font-size: 40px;
   letter-spacing: 2px;
   margin-bottom: 5px;
}
h4
{
   font-size: 25px;
   margin-top: 5px;
}

p
{
   padding: 0 7.5%;
   font-size: 20px;
   line-height: 23px;
}